@using WebBanDongHo.Models.Entities
@model ThongTin
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>A</span>bout
            <span>U</span>s
        </h3>
        <!-- //tittle heading -->
        @if (Model != null)
        {
            @Html.Raw(Model.GioiThieu)
        }

    </div>
</div>

